@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .solutions {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/image-background.jpg");
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
      max-width: 320px;
  }

  .navigation,
  .mail-n-number {
    display: none;
  }

  .large-text {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
  }

  .icon-features {
    display: none;
  }

  .features-list {
    flex-direction: column;
    row-gap: 72px;
  }

  .features-head-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
  }

  .features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-left: 16px;
    padding-right: 16px;
  }

  .about {
    display: none;
  }

  .team-list {
    flex-direction: column;
    justify-content: center;
    gap: 72px;
  }

  .team-item {
    margin: 0;
  }

  .hero-image {
    width: 100%; 
  }

  .customers-list {
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  .epilogue {
    flex-wrap: wrap;
    justify-content: center;
  }

  .web-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }

  .footer-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: 72px;
  }

  .subscription {
    margin: 0;
  }

  .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subs-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-text {
    padding: 0;
  }

  .subscribe-field {
    min-width: 264px;
    max-width: 398px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 480px;
  }

  .mob-menu {
    padding-left: 25px;
  }

  .mob-cont {
    margin-top: 32px;
  }

  .features-item {
    margin: 0;
  }

  .features-text {
    width: 420px;
    height: 48px;
    margin: 0 auto;
  }

  .team-item {
    width: 264px;
    margin: 0 auto;
  }

  .customers-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 72px;
  }

  .customers-item {
    width: 190px;
    height: 88px;
  }

  .customers-icons {
    margin: 16px 40px;
  }

  .subscribe-field {
    width: 398px;
  }

  .current {
    color: #404BBF;
  }
}